<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>grids</title>

    <!-- mandatory styles -->
    <link rel="stylesheet" href="../../dist/neui.css" />
</head>

<body>
    <section class="ne-page active" ne-role="page">
        <div class="ne-page-body">
            <h4 class="hr-title">Two Cloumns</h4>
            <div class="ne-grids col2 bordered bg-white">
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-large bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-large bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-large bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-large bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <h4 class="hr-title">Tree Cloumns</h4>
            <div class="ne-grids col3 bordered bg-white">
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-normal bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-normal bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-normal bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-normal bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-normal bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-normal bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-normal bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-normal bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-normal bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <h4 class="hr-title">Four Cloumns</h4>
            <div class="ne-grids col4 bordered bg-white">
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-small bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-small bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-small bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-small bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-small bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-small bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-small bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="ne-grid">
                    <div class="ne-adaptivebox">
                        <div class="ne-adaptivebox-content">
                            <div class="ne-middlebox">
                                <div class="ne-middlebox-content">
                                    <img class="iconsize-small bg-lightgrey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    />
                                    <p class="margin-top-10">title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>

</html>