<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>scroll</title>

    <!-- mandatory styles -->
    <link rel="stylesheet" href="../../dist/neui.css" />
</head>
<body>
    <section class="ne-page active" ne-role="page">
        <div class="ne-page-body">
            <div id="j-scrollcontainer" class="ne-scroll" onscrolltop="refresh" onscrollbottom="loadmore" ne-role="scroll">
                <ul class="ne-list">
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-doctor ne-flaticon border-circle bg-primary"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>医生建议<span class="text-meta float-right">11-12 10:55</span></strong>
                                <p>
                                    Dr.House回复了您的咨询问题
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-doc ne-flaticon border-circle bg-cyan"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康报告<span class="text-meta float-right">11-12 10:30</span></strong>
                                <p>
                                    您的排尿筛查报告已出，点击前往查阅
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-calender-f ne-flaticon bg-blue border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>服务计划<span class="text-meta float-right">11-12 08:45</span></strong>
                                <p>
                                    今天下午4：00，您与Dr.House有一个计划面询，须您留心并按时前往医院
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="ne-cell" href="网上咨询.html" ne-tap="toggle:page">
                            <div class="ne-cell-left">
                                <i class="ne-icon-house ne-flaticon bg-green border-circle"></i>
                            </div>
                            <div class="ne-cell-center text-excerpt">
                                <strong>健康小屋活动<span class="text-meta float-right">11-08 08:30</span></strong>
                                <p>
                                    您关注的华为社区健康小屋发布了新的活动：《青少年脊柱侧弯康复讲座》
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script src="../../dist/neui.js"></script>
    <script>
        function refresh(callback) {
            setTimeout(function () {
                callback();
            }, 2000);
        }
        function loadmore(callback) {
            setTimeout(function () {
                callback(true);
            }, 2000);
        }
    </script>
</body>
</html>
