<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>table</title>

    <!-- mandatory styles -->
    <link rel="stylesheet" href="../../dist/neui.css" />
</head>
<body>
    <section class="ne-page active" ne-role="page">
        <div class="ne-page-body">
           <div class="ne-cell"><div class="hr-meta"><span>固定表头的表单</span></div></div>
            <div class="ne-panel" ne-role="panel">
                <div class="ne-panel-body" style="height:200px;">
                    <div class="ne-table striped fixedheader">
                        <div class="ne-table-thead">
                            <div class="ne-table-tr">
                                <div class="ne-table-th w1">

                                </div>
                                <div class="ne-table-th w3">
                                    标题
                                </div>
                                <div class="ne-table-th w7">
                                    说明
                                </div>
                                <div class="ne-table-th w4">
                                    时间
                                </div>
                            </div>
                        </div>
                        <div class="ne-table-tbody">
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>

                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f grey-white" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f grey-white" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f grey-white" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <a class="ne-panel-footer bg-light">
                    <span class="primary">查看更多</span>
                </a>
            </div>
            <div class="ne-cell"><div class="hr-meta"><span>不固定表头的表单</span></div></div>
            <div class="ne-panel" ne-role="panel">
                <div class="ne-panel-body">
                    <div class="ne-table striped">
                        <div class="ne-table-thead">
                            <div class="ne-table-tr">
                                <div class="ne-table-th w1">

                                </div>
                                <div class="ne-table-th w3">
                                    标题
                                </div>
                                <div class="ne-table-th w7">
                                    说明
                                </div>
                                <div class="ne-table-th w4">
                                    时间
                                </div>
                            </div>
                        </div>
                        <div class="ne-table-tbody">
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>

                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f grey-white" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f grey-white" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f grey-white" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                            <a class="ne-table-tr">
                                <div class="ne-table-td w1">
                                    <i class="ne-icon-star-f orange" style="font-size:1em;"></i>
                                </div>
                                <div class="ne-table-td w3">
                                    刘川枫
                                </div>
                                <div class="ne-table-td w7">
                                    辅助辅助说明
                                </div>
                                <div class="ne-table-td w4">
                                    03:45
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <a class="ne-panel-footer bg-light">
                    <span class="primary">查看更多</span>
                </a>
            </div>
        </div>
    </section>

    <script src="../../dist/neui.js"></script>
</body>
</html>
