/* Webfont: neui-icons */@font-face {
    font-family: 'neui-icons';
    src: url('neui-icons.eot'); /* IE9 Compat Modes */
    src: url('neui-icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('neui-icons.woff') format('woff'), /* Modern Browsers */
         url('neui-icons.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

